.admin-sidebar {

  width: 260px;

  min-height: 100vh;

  background-color: #0f172a;

  padding: 40px 25px;

}

.admin-sidebar h2 {

  color: white;

  margin-bottom: 40px;

  font-size: 28px;

}

.admin-sidebar nav {

  display: flex;

  flex-direction: column;

  gap: 15px;

}

.admin-sidebar a {

  text-decoration: none;

  color: #cbd5e1;

  padding: 14px;

  border-radius: 10px;

  transition: .3s;

}

.admin-sidebar a:hover {

  background-color: #1e293b;

  color: white;

}


/* TABLET */

@media (max-width:1024px) {

  .admin-sidebar {

    width: 220px;

    padding: 30px 20px;

  }

}


/* CELULAR */

@media (max-width:768px) {

  .admin-sidebar {

    width: 100%;

    min-height: auto;

    padding: 25px;

  }

  .admin-sidebar h2 {

    text-align: center;

    margin-bottom: 25px;

    font-size: 24px;

  }

  .admin-sidebar nav {

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    gap: 12px;

  }

  .admin-sidebar a {

    padding: 10px 16px;

    background-color: #1e293b;

    text-align: center;

  }

}