.admin-layout {

  display: flex;

}

.admin-content {

  flex: 1;

  padding: 60px;

  background-color: #f8fafc;

  min-height: 100vh;

}

.admin-title {

  font-size: 40px;

  color: #0f172a;

  margin-bottom: 40px;

}

.admin-cards {

  display: grid;

  grid-template-columns: repeat(2,1fr);

  gap: 30px;

}

.admin-card {

  background-color: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 5px 20px rgba(0,0,0,.1);

}

.admin-card h2 {

  color: #64748b;

  margin-bottom: 20px;

}

.admin-card p {

  font-size: 40px;

  font-weight: bold;

  color: #0f172a;

}


/* TABLET */

@media (max-width:1024px) {

  .admin-content {

    padding: 40px;

  }

}


/* CELULAR */

@media (max-width:768px) {

  .admin-layout {

    flex-direction: column;

  }

  .admin-content {

    padding: 25px;

  }

  .admin-title {

    font-size: 32px;

    text-align: center;

  }

  .admin-cards {

    grid-template-columns: 1fr;

  }

  .admin-card {

    padding: 30px;

    text-align: center;

  }

  .admin-card p {

    font-size: 32px;

  }

}