.product-card {

  position: relative;

  width: 280px;

  min-height: 470px;

  display: flex;

  flex-direction: column;

  background-color: white;

  border-radius: 18px;

  padding: 25px;

  box-shadow: 0 5px 20px rgba(0,0,0,.1);

  transition: all .3s;

}

.product-card:hover {

  transform: translateY(-10px);

  box-shadow: 0 10px 30px rgba(0,0,0,.15);

}

.favorite-button {

  position: absolute;

  top: 18px;

  right: 18px;

  border: none;

  background: none;

  font-size: 30px;

  cursor: pointer;

  transition: .3s;

}

.favorite-button:hover {

  transform: scale(1.2);

}

.product-image {

  height: 200px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 85px;

  margin-bottom: 20px;

}

.product-title {

  min-height: 60px;

  font-size: 24px;

  font-weight: 700;

  color: #0f172a;

  margin-bottom: 12px;

}

.product-description {

  min-height: 55px;

  color: #64748b;

  line-height: 1.6;

  margin-bottom: 18px;

}

.product-price {

  font-size: 28px;

  font-weight: bold;

  color: #2563eb;

  margin-bottom: 12px;

}

.product-stock {

  font-size: 15px;

  margin-bottom: 18px;

  font-weight: 600;

}

.stock-available {

  color: #16a34a;

}

.stock-empty {

  color: #dc2626;

}

.product-button {

  margin-top: auto;

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background-color: #f97316;

  color: white;

  font-size: 15px;

  font-weight: bold;

  cursor: pointer;

  transition: .3s;

}

.product-button:hover {

  background-color: #ea580c;

}

.product-button:disabled {

  background-color: #94a3b8;

  cursor: not-allowed;

}

.product-link {

  text-decoration: none;

  color: inherit;

}


/* TABLET */

@media (max-width:1024px) {

  .product-card {

    width: 240px;

    min-height: 440px;

    padding: 20px;

  }

  .product-image {

    height: 170px;

    font-size: 70px;

  }

  .product-title {

    font-size: 21px;

  }

  .product-price {

    font-size: 24px;

  }

}


/* CELULAR */

@media (max-width:768px) {

  .product-card {

    width: 100%;

    max-width: 360px;

    min-height: auto;

    padding: 20px;

  }

  .product-image {

    height: 150px;

    font-size: 60px;

  }

  .product-title {

    font-size: 20px;

    min-height: auto;

  }

  .product-description {

    min-height: auto;

  }

  .product-price {

    font-size: 24px;

  }

}