.category-section {

  padding: 60px 40px;

}

.category-section h2 {

  margin-bottom: 40px;

  text-align: center;

  font-size: 36px;

  color: #0f172a;

}

.category-container {

  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;

}

.category-card {

  width: 190px;

  height: 160px;

  background-color: white;

  border-radius: 18px;

  box-shadow: 0 5px 20px rgba(0,0,0,.1);

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  cursor: pointer;

  transition: all .3s;

}

.category-card:hover {

  transform: translateY(-8px);

  box-shadow: 0 10px 25px rgba(0,0,0,.15);

}

.category-icon {

  font-size: 48px;

  margin-bottom: 18px;

}

.category-card p {

  font-size: 17px;

  font-weight: 600;

  color: #0f172a;

}

.category-link {

  text-decoration: none;

  color: inherit;

}


/* TABLET */

@media (max-width:1024px) {

  .category-section {

    padding: 50px 25px;

  }

  .category-card {

    width: 170px;

    height: 145px;

  }

  .category-icon {

    font-size: 42px;

  }

}


/* CELULAR */

@media (max-width:768px) {

  .category-section {

    padding: 40px 20px;

  }

  .category-section h2 {

    font-size: 30px;

  }

  .category-container {

    gap: 20px;

  }

  .category-card {

    width: 140px;

    height: 130px;

  }

  .category-icon {

    font-size: 36px;

    margin-bottom: 12px;

  }

  .category-card p {

    font-size: 15px;

    text-align: center;

  }

}