.profile-container {

  max-width: 1000px;

  margin: 60px auto;

  padding: 0 20px;

}

.profile-title {

  font-size: 38px;

  color: #0f172a;

  margin-bottom: 40px;

}

.profile-content {

  display: flex;

  flex-direction: column;

  gap: 30px;

}

.profile-card {

  background-color: white;

  padding: 35px;

  border-radius: 20px;

  box-shadow: 0 5px 20px rgba(0,0,0,.1);

}

.profile-card h2 {

  color: #0f172a;

  margin-bottom: 25px;

}

.profile-info p {

  margin-bottom: 15px;

  color: #475569;

}

.password-form {

  display: flex;

  flex-direction: column;

  gap: 18px;

}

.password-form input {

  padding: 15px;

  border: 1px solid #d1d5db;

  border-radius: 10px;

  outline: none;

}

.password-form input:focus {

  border-color: #f97316;

}

.password-form button {

  border: none;

  padding: 15px;

  border-radius: 10px;

  background-color: #f97316;

  color: white;

  font-weight: bold;

  cursor: pointer;

}

.order-item {

  display: flex;

  justify-content: space-between;

  padding: 20px 0;

  border-bottom: 1px solid #e2e8f0;

}


/* CELULAR */

@media (max-width:768px) {

  .profile-title {

    text-align: center;

    font-size: 32px;

  }

  .profile-card {

    padding: 25px;

  }

  .order-item {

    flex-direction: column;

    gap: 10px;

  }

}